
  @import "../vendors/_bootstrap"

  .carousel 
    z-index: 9999
    background-color: white
  .carousel-item
    height: 90svh
    max-height: 90svh
    position: relative
    font-family: 'Akaya_kanadaka',inter,sans-serif
    color: #000000
    text-shadow: 2px 2px 2px white
    @include media-breakpoint-up(md)
      background-image: url("./assets/img/Accueil/Carousel/cerf-LG.webp")
  
  .container-carousel--text
    position: absolute
    bottom: 20%
    left: 0

  .container-carousel--textHigh
    position: absolute
    top: 10%
    left: 0
  .container_menu-burger, .container_icone-user
    @include media-breakpoint-up(md)
      position: absolute
      top: -100svh

  .carousel-img--accueil
    @include media-breakpoint-up(md)
      content: url("../../assets/img/Accueil/Carousel/cerf-LG.webp")
  .carousel-img--marais
    @include media-breakpoint-up(md)
      content: url("../../assets/img/Accueil/Carousel/flamant-LG.webp")
  .carousel-img--savane
    @include media-breakpoint-up(md)
      content: url("../../assets/img/Accueil/Carousel/girafe-LG.webp")
  .carousel-img--jungle
    @include media-breakpoint-up(md)
      content: url("../../assets/img/Accueil/Carousel/chameleon-LG.webp")
  
  
  
  
  
  
  
  
  
  
  
  