
  @import "../vendors/_bootstrap"
  
  /*Section services*/
  .services
    min-height: 90svh
    height: auto
    position: relative
    background-color: #F5F5F5
    @include media-breakpoint-up(lg)
      min-height: 120svh
    @include media-breakpoint-up(xl)
      min-height: 200svhsvh
  
  .services-svg
    z-index: 2

  .services-title 
    height: 150px
    position: relative
    z-index: 3
    font-size: 1.2rem 

  .content-orangeSvg
    height: auto
    position: absolute
    top: 0
    left: 0
    

  .svg-rectangle
    position: relative
    z-index: 1
    @include media-breakpoint-down(md)
      content: url("/assets/img/Services/Svgdeco/RecOrMob.svg")

  .svg-ellipse
    z-index: 1
    @include media-breakpoint-up(lg)
      background-image: url("/assets/img/Services/Ellipse 15.svg")

  .service-container
    @include media-breakpoint-up(lg)
      margin-top: 50px
    @include media-breakpoint-up(xl)
      
  

  .card 
    background-color: transparent
    border: none
    z-index: 5
    button
      @include media-breakpoint-down(md)
        display: none

  .img-service
    max-width: 450px
    
  .card-body
    max-width: 354px
    font-size: 1,1rem

  .content-greenSvg
    position: absolute
    bottom: 0
    z-index: 2

  /*section animaux*/

  .animaux
    min-height: 100svh
    height: auto
    position: relative
    overflow: hidden
    @include media-breakpoint-up(lg)
      min-height: 120svh
    @include media-breakpoint-up(xl)
      min-height: 200svhsvh
  .svg-top
    position: absolute
    top:  -1px
    left: 0
    @include media-breakpoint-up(sm)
      content: url("/assets/img/Accueil/DemiEllipseVerte.svg")
  .animaux .svg-left 
    position: absolute
    left: -80px
    top: 5%
    @include media-breakpoint-up(md)
      left: 0

  .animaux .svg-right  
    position: absolute
    top: 5%
    right: -80px
    overflow: hidden 
    @include media-breakpoint-up(md)
      right: 0

  .animaux-text
    display: none 
    @include media-breakpoint-up(md)
      display: block

  .container-sophie
    display: none
    @include media-breakpoint-up(md)
      display: block


  // Section avis
  .avis
    height: 100svh
    position: relative
    z-index: 3
  
  .container-avis--lg
    display: none
    @include media-breakpoint-up(lg)
      display: block
  

  // modal-avis
  .card-form
    position: absolute
    top: 25%
    left: 25%
    padding: 5px
    border: 1px solid $gray-600
    border-radius: 20px
    background-color: $green
    font-family: font-family: 'Akaya_kanadaka',inter,sans-serif
    color: $warning